// Normal
$color1: rgb(33, 98, 218); 
$color2: rgb(255, 42, 145); 

// Win 1
$color3: rgb(35, 255, 46); 
$color4: rgb(35, 30, 182); 

// Win 2
$color6: rgb(15, 103, 217); 
$color5: rgb(20, 240, 247); 


:root {
	--icon-width: 12vw;
	--icon-height: 12vw;
	--num-icons: 9;
}

@media screen and (max-width: 1000px) {
	:root {
	  --icon-width: 18vw;
	  --icon-height: 11vw;
	}
}
  
@media screen and (max-width: 750px) {
	:root {
	  --icon-width: 17vw;
	  --icon-height: 13.2vw;
	}
}
  
@media screen and (max-width: 500px) {
	:root {
	  --icon-width: 23vw;
	  --icon-height: 20.5vw;
	}
}



.debug {
	position: absolute;
	left: 0;
	right: 0;
	width: fit-content; 
	margin: auto;
	background: rgb(222, 38, 250);border: 1vw solid rgba(black, 0.3); 
	font-family: monospace; 
	color: white;
}

html, body { height: 100%; }

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slots {
	position: relative;
	display: flex;
	justify-content: space-between;
	
	&::before, 
	&::after {
		content:"";
		position: absolute;
		top: 50%;
		background-color: rgba(black, 0.5);
	}
	
	&::before {
		left: 0;
		transform: translate(-200%, -50%);
	}
	
	&::after {
		right: 0;
		transform: translate(200%, -50%);
	}
	
	
	&.win1 {
		animation: win1 200ms steps(2, end) infinite;
	}
	
	&.win2 {
		animation: win2 200ms steps(2, end) infinite;
	}

	.reel {
		position: relative;
		overflow: hidden;
		background-image: url('./assets/slotitem3.jpg');
		background-position: 0 0;
		background-repeat: repeat-y;
		background-size: cover;
		
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(rgba(black, 0.4) 0%, transparent 30%, transparent 70%, rgba(black, 0.4) 100%);
		}

	}	
}

@media screen and (min-width: 1000px) {
	$icon_width: 12vw;
	$icon_height: 7.5vw;
	$num_icons: 9;

	.debug {
		top: -5vw; 
		padding: .2vw;
		font-size: 2vw;
		border-width: .3vw;
	}

	.slots {
		width: calc(var(--icon-width) * 2.3);
		padding: calc(var(--icon-width) * 0.1 - 0.3);
		border-top: .4vw solid rgba(white, 0.6);
		border-right: .4vw solid rgba(white, 0.6);
		border-left: .4vw solid rgba(white, 0.4);
		border-bottom: .4vw solid rgba(black, 0.4);
		box-shadow: -0.5vw 0.5vw 1vw rgba(black, 0.3);
		border-radius: 1vw;
		background: linear-gradient(45deg, $color1 0%, $color2 100%);

		&::before, 
		&::after {
			width: .5vw;
			height: .5vw;
		}

		.reel {
			width: var(--icon-width);
			height: calc(var(--icon-height) * 2.05);
			border: .5vw solid rgba(black, 0.3);
			border-radius: .5vw;

			&::after {
				box-shadow: inset 0 0 .5vw .5vw rgba(black, 0.3);
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	$icon_width: 18vw;
	$icon_height: 11vw;
	$num_icons: 9;

	.debug {
		top: -8vw; 
		padding: .4vw;
		font-size: 3vw;
		border-width: .6vw;
	}
	.slots {
		width: calc(var(--icon-width) * 2.3);
		padding: calc(var(--icon-width) * 0.1 - 0.3);

		border-top: .7vw solid rgba(white, 0.6);
		border-right: .7vw solid rgba(white, 0.6);
		border-left: .7vw solid rgba(white, 0.4);
		border-bottom: .7vw solid rgba(black, 0.4);
		box-shadow: -1vw 1vw 1.5vw rgba(black, 0.3);
		border-radius: 1.5vw;
		background: linear-gradient(45deg, $color1 0%, $color2 100%);

		&::before, 
		&::after {
			width: 1vw;
			height: 1vw;
		}

		@keyframes win1 {
			0% { background: linear-gradient(45deg, $color3 0%, $color4 100%); box-shadow: 0 0 20vw $color4 }
			100% { background: linear-gradient(45deg, $color1 0%, $color2 100%); box-shadow: -5vw 5vw 8vw rgba(black, 0.3); }
		}		
		@keyframes win2 {
			0% { background: linear-gradient(45deg, $color5 0%, $color6 100%); box-shadow: 0 0 20vw $color6 }
			100% { background: linear-gradient(45deg, $color1 0%, $color2 100%); box-shadow: -5vw 5vw 8vw rgba(black, 0.3); }
		}

		.reel {
			width: var(--icon-width);
			height: calc(var(--icon-height) * 3);

			border: 1vw solid rgba(black, 0.3);
			border-radius: 1vw;
			&::after {
				box-shadow: inset 0 0 1vw 1vw rgba(black, 0.3);
			}
		}
	}
}


@media screen and (max-width: 750px) {
	$icon_width: 17vw;
	$icon_height: 13.2vw;
	$num_icons: 9;

	.debug {
		top: -10vw; 
		padding: 1vw;
		font-size: 2.5vw;
	}
	.slots {
		width: calc(var(--icon-width) * 3);
		padding: calc(var(--icon-width) * 0.1);

		border-top: .7vw solid rgba(white, 0.6);
		border-right: .7vw solid rgba(white, 0.6);
		border-left: .7vw solid rgba(white, 0.4);
		border-bottom: .7vw solid rgba(black, 0.4);
		box-shadow: -1vw 1vw 1.5vw rgba(black, 0.3);
		border-radius: 1.5vw;
		background: linear-gradient(45deg, $color1 0%, $color2 100%);

		&::before, 
		&::after {
			width: 2vw;
			height: 1vw;
		}

		@keyframes win1 {
			0% { background: linear-gradient(45deg, $color3 0%, $color4 100%); box-shadow: 0 0 20vw $color4 }
			100% { background: linear-gradient(45deg, $color1 0%, $color2 100%); box-shadow: -5vw 5vw 8vw rgba(black, 0.3); }
		}		
		@keyframes win2 {
			0% { background: linear-gradient(45deg, $color5 0%, $color6 100%); box-shadow: 0 0 20vw $color6 }
			100% { background: linear-gradient(45deg, $color1 0%, $color2 100%); box-shadow: -5vw 5vw 8vw rgba(black, 0.3); }
		}

		.reel {
			width: var(--icon-width);
			height: calc(var(--icon-height) * 3);

			border: 1.5vw solid rgba(black, 0.3);
			border-radius: 2vw;
			&::after {
				box-shadow: inset 0 0 2vw 1vw rgba(black, 0.3);
			}
		}
	}
}


@media screen and (max-width: 500px) {
	$icon_width: 23vw;
	$icon_height: 20.5vw;
	$num_icons: 9;

	.debug {
		top: -15vw; 
		padding: 1vw;
		font-size: 5vw;
	}
	.slots {
		width: calc(var(--icon-width) * 3.5);
		padding: calc(var(--icon-width) * 0.1);


		border-top: .7vw solid rgba(white, 0.6);
		border-right: .7vw solid rgba(white, 0.6);
		border-left: .7vw solid rgba(white, 0.4);
		border-bottom: .7vw solid rgba(black, 0.4);
		box-shadow: -1vw 1vw 1.5vw rgba(black, 0.3);
		border-radius: 1.5vw;
		background: linear-gradient(45deg, $color1 0%, $color2 100%);

		&::before, 
		&::after {
			width: 2vw;
			height: 1vw;
		}

		@keyframes win1 {
			0% { background: linear-gradient(45deg, $color3 0%, $color4 100%); box-shadow: 0 0 20vw $color4 }
			100% { background: linear-gradient(45deg, $color1 0%, $color2 100%); box-shadow: -5vw 5vw 8vw rgba(black, 0.3); }
		}		
		@keyframes win2 {
			0% { background: linear-gradient(45deg, $color5 0%, $color6 100%); box-shadow: 0 0 20vw $color6 }
			100% { background: linear-gradient(45deg, $color1 0%, $color2 100%); box-shadow: -5vw 5vw 8vw rgba(black, 0.3); }
		}

		.reel {
			width: var(--icon-width);
			height: calc(var(--icon-height) * 3);

			border: 1.5vw solid rgba(black, 0.3);
			border-radius: 2vw;
			&::after {
				box-shadow: inset 0 0 2vw 1vw rgba(black, 0.3);
			}
		}
	}
}